

@import url('https://fonts.googleapis.com/css?family=Mukta+Mahee');
*{
    margin:0;
    font-family: 'Mukta Mahee', sans-serif;
}
body{
    background: black;
    color: #c4c4c4;
    font-family: sans-serif;
    font-size: 1.2rem;
    line-height: 1.45;
    display: flex;
    flex-wrap: wrap;
}
.sidebar{
    background: #4f4f4f;
    flex: 1 1 20%;
    padding: 3em;
}

.logo{
    text-transform: uppercase;
    margin-bottom: 2em;

    
}
    span{
        font-weight: 700;
    
}

.nav-item{
    color: #737373;
    text-decoration: none;
    font-size: 1.7rem;
    display: inline-block;
    margin-right: 2em;
  
}

.main-content{
    padding: 10%;
    flex: 1 1 90%;
    min-height: 100vh;
}

.portfolio{
    display: grid;
    height: 100%;
    grid-template-rows: repeat(6, 1fr) ;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}

.portfolio-item{
    position: relative;
    background: rgb(211, 188, 16);
    color: black;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;

}

.small{
    grid-row: span 1;
    grid-column: span 1;
}

.medium{
    grid-row: span 2;
    grid-column: span 2;
}

.large{
    grid-row: span 3;
    grid-column: span 3;
}
.tall{
    grid-row: span 3;
    grid-column: span 2;
}
.wide{
    grid-row: span 2;
    grid-column: span 3;

}
.imgBack{
    background-size: cover;
    background-position: top left;
 position: relative;
  color: #c4c4c4;
    transition: all ease-in-out 300ms;
    z-index: 10;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.85);
}
.imgBack:hover::before{
      opacity: 0.2;
}

.imgBack:before{
      content: '';
    display: block;
    background: black;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.8;
transition: all ease-in-out 300ms;
z-index: -1;
}
.two{
    background-image: url(./img/paul.jpg);
}

.wide{
    background-image: url(./img/paul.jpg);
}
.portfolio-item p{
    position: absolute;
    bottom:0;
}
.info{
    padding: 5px;
    width: 100%;
    position: relative;
}
.info h2{
    position: absolute;
    right:0;
    
}

@media (max-width:1000px){
    .sidebar{
        width:100px;
        height: 100vh;
    }
}
@media (min-width: 1500px){
    .nav-item{
        display: block;
        margin: 7vh 0;
    }
    .logo{
        margin-bottom: 5em;
    }
   
    .active{
        color:#c4c4c4;
    }

}